@charset "utf-8";
@import 'normalize';
@import 'variables';
@import 'icon-font';

/* The tag for required params */

small {
  color: #656D78;
}

.req-badge {
  display: inline-block;
  //margin-left: 5px;
  padding: 0 8px;
  vertical-align: top;
  border: 1px solid #D770AD;
  border-radius: 11px;
  color: #D770AD;
  //font-size: 10px;
  font-weight: 600;
  //line-height: 20px;
  text-transform: uppercase;
}